@charset "UTF-8";

/* Estiliza o formulário com id "Pesquisar" */
form#Pesquisar {
    background-color: #363636; /* Cor de fundo do formulário */
}

/* Estiliza a div com id "text" */
div#text {
    text-align: center; /* Centraliza o texto dentro da div */
}

/* Estiliza as etiquetas (labels) */
label {
    color: rgb(255, 255, 255); /* Cor do texto: branco */
    font-weight: bold; /* Texto em negrito */
}

/* Estiliza os campos de entrada (inputs) */
input {
    background-color: #d4d6d6; /* Cor de fundo do input */
    color: #363636; /* Cor do texto dentro do input */
    font-weight: bold; /* Texto em negrito */
}
